<%inherit file="base.html" />
<div class="container-fluid" style="min-height: 540px;">
    <div id="main_hero_unit" class="hero-unit">
	<div id="hero_unit_text">
	    <h1 style="margin-bottom: 10px;">Payments made easy</h1>
	    <p>With Pay viaStripe, you do not have to worry about your payments. Making payment 
	    forms and collecting payments have never been easier. Get Started Now!</p>
	</div>
	<a id="singup_btn" href="${stripe_connect_url}"><img src="images/stripe-connect.png" /></a>
    </div>
    <div class="row-fluid" style="display: none;">
	<div class="span4">
	    <div>
		<h2>Form Builder</h2>
		<p>Easily make and manage payment forms with a unique URL to send to your clients.</p>
	    </div>
	    <a id="payment_forms_details" class="btn" href="#">Details >></a>
	</div>
	<div class="span4">
	    <div>
		<h2>One-time & Recurring Billing</h2>
		<p>Whether it's a one-time charge or recurring billing, PayMe fits the bill.</p>
	    </div>
	    <a id="billing_details" class="btn" href="#">Details >></a>
	</div>
	<div class="span4">
	    <div>
		<h2>Built on Stripe</h2>
		<p>PayMe is built on Stripe which is an awesome billing solution. You will need
		to have an account with Stripe to use PayMe. Don't panic - you can register
		with Stripe when you login with PayMe.</p>
	    </div>
	    <a id="stripe_details" class="btn" href="#">Details >></a>
	</div>
    </div>
</div>
